$black: #0e1111;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  color: white;
  background-color: $black;

  .body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
}

.preloader {
  z-index: 1000;
  position: fixed;
  display: flex;
  background-color: $black;
  height: 100vh;
  width: 100%;
  justify-content: center;
  img {
    width: 15vh;
    height: auto;
    object-fit: contain;
  }
}

.vanish {
  animation: vanish 0.5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.section1 {
  padding: 70px 70px 30px 70px;

  nav {
    width: 100%;
    position: relative;
    .row-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.555);
      transition: width 1s ease-out;
      .title {
        position: relative;
        letter-spacing: 3px;
      }

      /*Hamburger */
      .menu-btn {
        opacity: 0;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        animation: nav-title 1s 1.6s forwards;
      }
      .menu-btn::after {
        content: "";
        position: absolute;
        height: 24px;
        width: 30px;
        transform: translateY(-50%);
      }

      .menu-btn__burger {
        width: 30px;
        height: 2px;
        background: whitesmoke;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: whitesmoke;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-6px);
      }
      .menu-btn__burger::after {
        transform: translateY(6px);
      }
      /* Hamburger ANIMATION */
      .menu-btn.open .menu-btn__burger {
        background: transparent;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg);
      }
      a {
        text-decoration: none;
        font-size: 0.8em;
      }
    }
  }
  .menu-open {
    opacity: 0;
    z-index: 5;
    background-color: $black;
    padding: 40px;
    margin-right: 20px;
    font-size: 24px;
    text-align: right;
    position: absolute;
    width: 100%;
    display: none;
    right: 0px;
    flex-direction: column;
    transition: opacity 1s ease-in;
    .mo {
      margin-right: 30px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
      padding: 15px 0px;
      text-decoration: none;
      opacity: 0;
      transition: margin-right 0.5s ease-in, opacity 0.5s ease-in-out;
      &:first-child {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
    }
    .mo-slide {
      opacity: 1;
      margin-right: 0px;
    }
  }

  .opened {
    opacity: 1;
  }
}

.section2 {
  padding: 10px 70px;
  .filter-options {
    li {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      justify-content: space-around;
      margin-bottom: 40px;
      list-style: none;
      ul {
        width: 150px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px 0;
        text-align: center;
        border: 1px solid white;
      }
    }
  }
  .gallery-container {
    .grid-sizer,
    .wrapper {
      width: 24%;
      margin: 0 0 1% 1%;
      .glightbox {
        img {
          width: 100%;
          height: auto;
          border-radius: 5%;
        }
      }
      span {
        display: none;
        width: 100%;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

footer {
  .credits {
    background-color: rgb(231, 231, 231);
    color: $black;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
    a {
      color: purple;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .section1 {
    padding: 20px 40px;
    nav {
      .row-nav {
        padding: 20px 0px;
        .title {
          font-size: 12px;
        }
      }
    }
  }
  .section2 {
    padding: 10px 40px;
    .gallery-container {
      .grid-sizer,
      .wrapper {
        width: 32%;
        margin: 0 0 20px 1%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .section1 {
    padding: 20px;
    nav {
      .row-nav {
        padding: 20px 0px;
        .title {
          font-size: 12px;
        }
      }
    }
  }
  .section2 {
    ul {
      font-size: 10px;
    }
    padding: 10px 20px;
    .gallery-container {
      .grid-sizer,
      .wrapper {
        width: 48%;
        margin: 0 0 20px 2%;
      }
    }
  }
}
